@font-face {
  font-family: 'Doto';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Doto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Doto';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Doto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
